

#navlad {
    font-family: Cambria;
}



#allButNav {
    margin-top: 3em;
    padding: 1em;
    background-color: #F8F5E3;
    font-family: Georgia;
}
#artist {
    display: flex;
    align-items: stretch;

}
#tittle {
   text-align: center;
}
#FeaturedArtist {
    text-align: center;

}
#becomeArtistTittle {
    text-align: center;
}
#becomeArtistText {
    text-align: center;
}
#becomeArtistBtn {
    display: flex;

    justify-content: center;
}

#geoPics {
    border: 4px solid black;
    margin: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
#MntBtn {
    display: flex;
    justify-content: center;
    background-color: transparent;
    text-align: center;
}
#RvrBtn {
    display: flex;
    align-content: flex-end;
    background-color: transparent;
    justify-content: center;
}
#CnyBtn {
    display: flex;
    align-content: flex-end;
    background-color: transparent;
    justify-content: center;
}
#OcnBtn {
    display: flex;
    align-content: flex-end;
    background-color: transparent;
    justify-content: center;
}



#searchEnvironment {
    display: flex;
    align-items: flex-start;
    justify-items: center;
    padding: 10px 5px 20px 10px;
    flex-shrink: 1;
}
#popularEnvironments {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
#bottom {
    border-top: 3px solid black;
    padding: 1em 1em 0 1em;
    background-color: #E8DBBF;
}
#images {
    margin-left: 10px;
}